.videos-main-container{
    padding: 0.5rem;
}
.video-container{
    padding: 0.53rem;
    display: flex;
    flex-direction: column;
    background-color: #090808;
    padding-bottom: 3rem;
    margin-top: 2rem;
}
.channel-details{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.video-img{
    width: 100%;
    object-fit:cover;
}